/* Number range sliders */
.range-slider {
	position: relative;
}

/* Number range sliders' display value */
.range-slider .range-slider__value {
	position: absolute;
	top: 4px;
	right: 80px;
}

.cmb-td input.range-slider__range {
	padding: 5px 0;
}